<div class="cell">

      <div class="grid-x grid-padding-y">
        <div class="small-12 cell text-center text-uppercase">
          <a href="{{ project.url }}">
        {% assign image = project.image %}
        {% include images/excerpt.html %}
          </a>
        </div>
      </div>
      
      <div class="grid-x grid-padding-y">
        <div class="small-12 cell text-center">
          {{ project.title }}
          {% if project.client %}
          — {{ project.client }}</h2>
          {% endif %}
        </div>
      </div>
      
</div>
