<!-- Navigation -->
<div class="grid-x grid-padding-x padding-top-1 padding-bottom-0 align-justify navigation">
  
  <div class="auto cell">
    <a href="/" class="h5 text-uppercase">{{site.title}}</a>
  </div>
  
  <div class="shrink cell text-right">
    <button class="hamburger hamburger--collapse" data-toggler=".is-active" id="toggle" aria-label="menu" type="button" data-toggle="offCanvas toggle">
      <span class="hamburger-box"><span class="hamburger-inner"></span></span>
    </button>
  </div>
  
</div>
<!-- End Navigation -->