@font-face {
  font-family: 'Founders';
  src: 
  url('../fonts/founders-grotesk-regular.woff2') format('woff2'), 
  url('../fonts/founders-grotesk-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Gallery';
  src: 
  url('../fonts/gallery.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}