<div class="small-12 medium-6 large-4 {% if project.is-full-width %}medium-12{% endif %} cell excerpt text-center" data-aos="fade-in">
  <a href="{{ project.url }}">
    {% assign image = project.image %}
    <div class="margin-bottom-1 image" data-interchange="{% include images/interchange-img-small-12-medium-4-cell.html %}">
    <div class="content"></div>
    </div>
    <div class="sans-regular"><span class="project__title sans-bold text-uppercase">{{ project.title }}</span><span class="dark-gray project__client padding-left-1">{{ project.client }}</span></div>
  </a>
</div>