<div class="grid-y align-center-middle navigation show-for-small-only" style="height: 4rem;">
  <div class="shrink cell" style="z-index: 10;">
    <a data-toggle="overlayNavigation" class="text-uppercase sans-bold h3">{{site.title}}</a>
  </div>
</div>

<div class="grid-y align-center-middle navigation show-for-medium" style="height: 4rem;">
  <div class="shrink cell padding-2" style="z-index: 10;">

    <div class="home__title">
      <div class="text-uppercase sans-bold h3">{{site.title}}</div>
    </div>

    <div class="home__menu hide">
      <ul class="menu align-center">
        {% for entry in site.data.navigation %}
        <li{{ current }}><a href="{{ site.baseurl }}{{ entry.url }}" class="text-uppercase sans-bold">{{ entry.title }}</a></li>
        {% endfor %}
      </ul>
    </div>

  </div>
</div>