---
layout: compress
---

<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">

<!-- Head -->
{% include head.html %}
<!-- End Head -->

<body class="{{page.layout | slugify}}">

<!-- Wrapper -->
<div class="wrapper grid-y align-justify {{page.layout | slugify}}" data-off-canvas-content>

<!-- Navigation -->
{% include navigation.html %}
<!-- End Navigation -->

<div class="swup-transition-fade" id="swup-body">
<!-- Content -->
{{content}}
<!-- End Content -->
</div>

<!-- Footer -->
{% include footer.html %}
<!-- End Footer-->

</div>
<!-- End Wrapper -->

</body>

</html>