---
layout: default
---

<!-- Projects -->
<div class="grid-x" style="height: 100vh">
  <div class="small-6 cell home__narrative">
    <a href="/narrative">
    <div class="grid-x align-middle" style="height: 100%">
      <div class="small-12 cell text-center text-uppercase">
        <h1>Narrative</h1>
      </div>
    </div>
    </a>
  </div>
  <div class="small-6 cell home__commercial">
    <a href="/commercial">
    <div class="grid-x align-middle" style="height: 100%">
      <div class="small-12 cell text-center text-uppercase">
        <h1>Commercial</h1>
      </div>
    </div>
    </a>
  </div>
</div>
<!-- End Projects -->