---
layout: default
---

{% capture the_collection %}{{page.collection}}{% endcapture %}
  {% if page.collection %}
    {% assign document = site[the_collection]| sort: 'date' %}
  {% endif %}
{% for links in document  %}
  {% if links.title == page.title %}
    {% unless forloop.first %}
      {% assign prevurl = prev.url %}
    {% endunless %}
    {% unless forloop.last %}
      {% assign next = document[forloop.index] %}
      {% assign nexturl = next.url %}
    {% endunless %}
  {% endif %}
  {% assign prev = links %}
{% endfor %}

<!-- Content -->
<div class="grid-x grid-padding-x grid-padding-y align-center" data-aos="fade-in">

<!-- Previous -->
<div class="medium-2 cell show-for-large project__pagination">
  {% if prevurl %}
  <a href="{{prevurl}}">
    <div class="grid-y align-center" style="height: 100%;">
      <div class="shrink cell text-center"><svg class="icon icon-arrows icon-arrow_back"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow_back"></use></svg></div>
    </div>
  </a>
  {% endif %}
</div>
<!-- End Previous -->

<!-- Center -->
<div class="small-12 medium-8 cell">
  <div class="grid-y align-center" style="height: 100%;">
    <div class="shrink cell text-center">
      <h4 class="margin-bottom-2">{{ page.title }}</h4>

{% if page.video %}
<div class="grid-x grid-padding-x align-center">
  <div class="auto cell">
  	<div class="responsive-embed widescreen">
  	   <iframe src="https://player.vimeo.com/video/{{ page.video }}?color=ffffff&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  	</div>
  </div>
</div>
{% else %}
{% for image in page.images %} 
<div class="grid-x grid-padding-x grid-padding-y align-center">
  <div class="small-12 cell">
  	<img src="{{ image }}">
  </div>
</div>
{% endfor %}
{% endif %}


<!-- Credits -->
<div class="grid-x grid-padding-x align-center">
  <div class="small-12 cell text-center">
  
  {% if page.client %}
  <div class="margin-bottom-0">B — {{ page.client }}</div>
  {% endif %}
  
  {% if page.agency %}
  <div class="margin-bottom-0">A — {{ page.agency }}</div>
  {% endif %}
  
  {% if page.production-company %}
  <div class="margin-bottom-0">P — {{ page.production-company }}</div>
  {% endif %}
  
  </div>
  
</div>
<!-- End Credit -->

<!-- Content -->
<div class="grid-x grid-padding-x grid-padding-y align-center">
  <div class="small-12 cell">
  {{ page.content }}
  </div>
</div>
<!-- End Content -->

<!-- Mobile Pagination -->
{% if nexturl %}
<div class="grid-x grid-padding-x align-center hide-for-large">
  <div class="shrink cell text-center">
    <a href="{{nexturl}}"><svg class="icon icon-arrows icon-arrow_forward"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow_forward"></use></svg></a>
  </div>
</div>
{% endif %}
<!-- End Mobile Pagination -->
      
      
      
    </div>
  </div>
</div>
<!-- End Center -->

<!-- Next -->
<div class="medium-2 cell show-for-large project__pagination">
  {% if nexturl %}
  <a href="{{nexturl}}">
    <div class="grid-y align-center" style="height: 100%;">
      <div class="shrink cell text-center"><svg class="icon icon-arrows icon-arrow_forward"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow_forward"></use></svg></div>
    </div>
  </a>
  {% endif %}
</div>
<!-- End Next -->

</div>   
<!-- End Content -->